@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply max-sm:text-xl
  }
  h2 {
    @apply text-xl;
  }
  p,span, button{
    @apply max-sm:text-sm
  }
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
  src: local("Pretendard Regular"),
    url("../assets/fonts/Pretendard-Regular.woff") format('woff'),
    url("../assets/fonts/Pretendard-Regular.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
  src: local("Pretendard Medium"),
    url("../assets/fonts/Pretendard-Medium.woff") format('woff'),
    url("../assets/fonts/Pretendard-Medium.woff2") format('woff2');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
  src: local("Pretendard Semibold"),
    url("../assets/fonts/Pretendard-Semibold.woff") format('woff'),
    url("../assets/fonts/Pretendard-Semibold.woff2") format('woff2');
}
